@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomIdentityUser> SignInManager
@inject UserManager<CustomIdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Resident"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="@Url.Action("MyBills", "User")">Bills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="@Url.Action("MyMessages", "User")">Messages</a>
            </li>
        }
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="@Url.Action("AdminTools", "Tools")">Admin Tools</a>
            </li>
        }
        if (User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="@Url.Action("ManagerTools", "Tools")">Manager Tools</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>