@model Logo.Proje.Domain.Entities.Bill

@{
    ViewData["Title"] = "Pay Bill";
}

<h1>Pay</h1>

<h3>Are you sure you pay this bill?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Id)
        </dd>
    </dl>
    
    <form asp-action="PayBill">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ApartmentId" />
        <input type="submit" value="PayBill" class="btn btn-success" />
        <a asp-action="MyBills">Back to List</a>
    </form>
</div>
